* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Markazi Text',
    serif;
    direction: rtl;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper--header {
    margin: 4rem 0 2rem 0;
} 

.wrapper--header__header {
    font-size: 4rem;
    font-weight: 500;
    background: -webkit-linear-gradient(0deg, rgb(236, 0, 0), rgba(255, 255, 255, 0.835), rgb(8, 141, 8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 0 2rem;
}

.wrapper--search {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.wrapper--search__text-field {
    padding: 0.5rem 1.5rem;
    width: 43rem;
    height: 5rem;
    font-family: inherit;
    font-weight: 300;
    font-size: 2.5rem;
    border: 2px solid rgb(8, 141, 8);
    border-radius: 40px;
}

.wrapper--search__text-field:focus {
    outline: none;
    background-color: whitesmoke;
}

.wrapper--result {
    padding: 1rem 2rem;
}

.wrapper--result__result {
    margin-bottom: 2rem;
}

.wrapper--result__state {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    color: rgb(8, 141, 8);
}

small {
    font-size: 2rem;
    color: gray;
}